[submodule "automation-frontend"]
	path = automation-frontend
	url = https://github.com/ONDC-Official/automation-frontend.git
	branch = main
[submodule "automation-backoffice"]
	path = automation-backoffice
	url = https://github.com/ONDC-Official/automation-backoffice.git
	branch = main
[submodule "automation-specifications"]
	path = automation-specifications
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = main
